html {
  background-color: #f6f6f6;
}

body, input, textarea, button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
  line-height: 1.2;
}

body {
  line-height: 1.2;
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 650px;
  padding: 1em 2em;
}

header img {
  width: 70%;
  max-width: 300px;
  margin: auto;
  display: block;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #cccccc;
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
button:hover {
  filter: brightness(90%);
  color: #000000;
}
button:active {
  filter: brightness(80%);
}
button[type="submit"] {
  background-color: #007cba;
  color: #eeeeee;
}
button[type="submit"]:hover {
  color: #ffffff;
}
button[type="submit"]:active {
  background-color: #007cba;
}
button[type="submit"]:disabled {
  filter: brightness(100%);
  opacity: 0.7;
}
button[type="submit"]:disabled span {
  visibility: hidden;
  position: relative;
}
button[type="submit"]:disabled span:after {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  visibility: visible;
  content: 'Submitting...';
}

input, textarea {
  padding: 6px;
  border: 1px solid #999;
  border-radius: 4px;
  max-width: 100%;
}

textarea {
  width: 100%;
}

label.above {
  display: block;
  font-weight: bold;
  color: #333;
  font-size: 11pt;
  margin-top: 2em;
  margin-bottom: 1ex;
}

label.inline {
  display: inline-block;
  width: 200px;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}
#modal .content {
  position: relative;
  box-sizing: border-box;
  max-width: calc(650px + 4em);
  height: 100%;
  margin: 0 auto;
  padding: 2em 0;
}
#modal .close_button {
  position: absolute;
  padding: 2px;
  top: 0;
  right: 0;
  font-size: 18pt;
  color: #f3f3f3;
  text-decoration: none;
}
#modal iframe {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.ministry-descriptions main {
  margin-bottom: 2em;
}
.ministry-descriptions header img {
  margin-left: 0;
  width: 50%;
  max-width: 200px;
}
.ministry-descriptions h1 {
  color: #007cba;
  font-size: 14pt;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.ministry-descriptions h2 {
  color: #007cba;
  font-size: 12pt;
  margin-bottom: 0.5ex;
}
.ministry-descriptions h2 span {
  display: inline-block;
  font-weight: normal;
  color: #666666;
}
.ministry-descriptions p {
  margin-top: 0;
}
